parameters:
	level: 6
	paths:
		- src
		- tests
		- data/config.local.php
	bootstrapFiles:
		- src/bootstrap.php
	treatPhpDocTypesAsCertain: false
	tmpDir: temp/phpstan
	excludePaths:
		- 'src\libs\Utils\MGRS.php' # Not my class
	ignoreErrors:
		-
			message: "#^Access to an undefined property DJTommek\\\\MapyCzApi\\\\Types\\\\.+$#"
		-
			message: "#^Property unreal4u\\\\TelegramAPI\\\\Telegram\\\\Methods\\\\.+ does not accept .+\\.$#"
		-
			message: "#^Property unreal4u\\\\TelegramAPI\\\\Telegram\\\\Types\\\\.+ does not accept .+\\.$#"
		-
			message: "#^Using nullsafe property access on non-nullable type unreal4u\\\\TelegramAPI\\\\Telegram\\\\Types\\\\.+\\. Use -> instead\\.$#"
		-
			message: "#^Access to an undefined property App\\\\Web\\\\LayoutTemplate\\:\\:.+\\.$#"
		-
			message: "#^Call to an undefined method App\\\\Web\\\\LayoutTemplate\\:\\:.+\\.$#"
		-
			# Ignore markTestSkipped
			# @author https://github.com/phpstan/phpstan-phpunit/issues/52#issuecomment-1075564035
			message: "#^Unreachable statement - code above always terminates.$#"
			path: tests
		-
			# Variable $processed is ready for future use
			message: "#^Property App\\\\BetterLocation\\\\Service\\\\AbstractService\\:\\:\\$processed is never read, only written\\.$#"
			count: 1
			path: src/libs/BetterLocation/Service/AbstractService.php
		-
			# Intentionally wrong input type parameter to test method if it behaves as it should
			message: "#^Parameter \\#1 \\$inputs of method App\\\\OpenElevation\\\\OpenElevation\\:\\:fillBatch\\(\\) expects array\\<App\\\\Utils\\\\Coordinates\\>, array\\<int, string\\> given\\.$#"
			count: 1
			path: tests/OpenElevation/OpenElevationTest.php
		-
			# Real value is different than described in PHPDocs
			message: "#^Parameter \\#2 \\$entities of static method App\\\\BetterLocation\\\\BetterLocationCollection\\:\\:fromTelegramMessage\\(\\) expects array\\<unreal4u\\\\TelegramAPI\\\\Telegram\\\\Types\\\\MessageEntity\\>, unreal4u\\\\TelegramAPI\\\\Telegram\\\\Types\\\\Custom\\\\MessageEntityArray given\\.$#"
		-
			# Wrongly recognized class constant types for Config vs DefaultConfig - they might be string or null but in Default config is defined only as null
			# @see https://github.com/phpstan/phpstan/issues/9218
			message: "#^Parameter .+ of .+ expects .+, .+ given\\.$#"
			path: src/libs/Factory.php
			reportUnmatched: false

includes:
	- phpstan-baseline.neon
