parameters:
	level: 3
	paths:
		- src
		- tests
	bootstrapFiles:
		- src/bootstrap.php
	tmpDir: temp/phpstan
	excludePaths:
		- 'src\libs\Utils\MGRS.php' # Not my class
	ignoreErrors:
		-
			message: "#^Access to an undefined property DJTommek\\\\MapyCzApi\\\\Types\\\\.+$#"
includes:
	- phpstan-baseline.neon
