{layout '@layout.latte'}
{block content}
	<p>
		Hi there!<br>
		This is homepage for BetterLocation app. Currently there is no content available, for more info visit these links:
	</p>
	<ul>
		<li>Telegram bot source code on Github <a href="https://github.com/DJTommek/better-location" target="_blank">DJTommek/better-location</a></li>
		<li>Telegram bot <a href="https://t.me/BetterLocationBot" target="_blank">@BetterLocationBot</a></li>
		<li>Telegram info channel <a href="https://t.me/BetterLocation" target="_blank">@BetterLocation</a></li>
		<li>Telegram chat discussion <a href="https://t.me/BetterLocationChat" target="_blank">@BetterLocationChat</a></li>
		<li>Contact author directly via Telegram on <a href="https://t.me/DJTommek" target="_blank">@DJTommek</a></li>
	</ul>
{/block}
