# Apache configuration file (see httpd.apache.org/docs/current/mod/quickreference.html)

# disable directory listing
<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteBase /www

	# prevents files starting with dot to be viewed by browser
	RewriteRule /\.|^\. - [F]

	# Nicer URL and for future compatibility if some router is implemented
	RewriteRule webhook/telegram/([0-9a-zA-Z]+) webhook/telegram.php?password=$1 [L]
	RewriteRule api/staticmap/([0-9a-f]+) api/staticmap.php?id=$1 [L]
	RewriteRule ^(-?[0-9]{1,2}\.[0-9]{1,99}),(-?[0-9]{1,3}\.[0-9]{1,99})$ location.php?lat=$1&lon=$2 [L,QSA,NE]
	RewriteRule ^chat/(-?[0-9]{1,64})$ settings/chat.php?telegramId=$1 [L,QSA,NE]
	# @TODO maybe add support for more formats? Such as:
	# XX,YY
	# NXX.XXX,EYY.YYY
	# XX.XXXN,YY.YYYW
	# EXX.XXX,SYY.YYYW
</IfModule>
