# Apache configuration file (see httpd.apache.org/docs/current/mod/quickreference.html)

# disable directory listing
<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteBase /www

	# prevents files starting with dot to be viewed by browser
	RewriteRule /\.|^\. - [F]

	# Nicer URL and for future compatibility if some router is implemented
	RewriteRule webhook/telegram/([0-9a-zA-Z]+) webhook/telegram.php?password=$1 [L]
	RewriteRule api/staticmap/([0-9a-f]+) api/staticmap.php?id=$1 [L]
	RewriteRule favorites favorites.php
	# One or more location(s) in URL. Examples:
	# 50.123,14.456
	# -50,-14
	# 50.123,14.456;-50.123,-14.456
	# https://regexr.com/79is6
	RewriteRule ^(-?[0-9]{1,2}(\.[0-9]{1,99})?,-?[0-9]{1,3}(\.[0-9]{1,99})?(;-?[0-9]{1,2}(\.[0-9]{1,99})?,-?[0-9]{1,3}(\.[0-9]{1,99})?)*)$ locations.php?coords=$1 [L,QSA,NE]
	RewriteRule ^chat/(-?[0-9]{1,64})$ settings/chat.php?telegramId=$1 [L,QSA,NE]
	RewriteRule ^chat/(-?[0-9]{1,64})/history$ chatHistory.php?telegramId=$1 [L,QSA,NE]
	RewriteRule ^chats$ settings/chatsList.php [L,QSA,NE]
	# @TODO maybe add support for more formats? Such as:
	# NXX.XXX,EYY.YYY
	# XX.XXXN,YY.YYYW
	# EXX.XXX,SYY.YYYW
</IfModule>
