# Apache configuration file (see httpd.apache.org/docs/current/mod/quickreference.html)

# disable directory listing
<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On

	# prevents files starting with dot to be viewed by browser
	RewriteRule /\.|^\. - [F]

	# Nicer URL and for future compatibility if some router is implemented
	RewriteRule webhook/telegram/([0-9a-z]+) webhook/telegram.php?password=$1 [F]
	RewriteRule api/staticmap/([0-9a-f]+) api/staticmap.php?id=$1 [F]
</IfModule>
