a {
	text-decoration: none; /* Disable default underline */
}

.table-nonfluid {
	width: auto !important;
}

/******************************************************/

#flash-message {
	width: 60%;
	max-width: 50em;
	margin: 0 auto;
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 2000;
}

#flash-message .alert {
	margin: 15px;
}

/******************************************************/
#navbar .navbar-brand img,
#navbar .login img {
	max-height: 2em;
	max-width: 2em;
}

/******************************************************/
#content {
	margin-top: 2em;
}

#content .telegram-login-widget {
	margin: 0 auto;
	text-align: center;
}

#content-location .header-left,
#content-location .header-right {
}

#content-location .header-left a,
#content-location .header-right {
	font-size: 2em;
}

/* Show full heart icon if already in favourites or if not and is hovered */
#content-location .header-right .icon-heart:before,
#content-location .header-right .icon-heart-o:hover:before {
	content: '\f004'; /* fa-heart */
}

/* Show empty heart icon if is not in favourites or if it is and is hovered */
#content-location .header-right .icon-heart-o:before,
#content-location .header-right .icon-heart:hover:before {
	content: '\f08a'; /* fa-heart-o */
}

#content-location .header-left img {
	width: 1em;
	height: 1em;
}

#content-location #most-used-links a {
	text-decoration: none;
	padding: 1em;
	text-align: center;
}

#content-location #most-used-links a img {
	height: 5em;
	width: 5em;
	text-decoration: none;
}

#content-locations #map-dynamic-leaflet,
#content-location #map-dynamic-leaflet {
	width: 100%;
	height: 100%;
	min-height: 20em;
}
@media (min-width: 768px) {
	#content-locations #map-dynamic-leaflet,
	#content-location #map-dynamic-leaflet {
		min-height: 30em;
	}
}
@media (min-width: 992px) {
	#content-locations #map-dynamic-leaflet,
	#content-location #map-dynamic-leaflet {
		min-height: 40em;
	}
}

#content-locations #map-dynamic-leaflet .leaflet-control-locate .fa,
#content-location #map-dynamic-leaflet .leaflet-control-locate .fa {
	/* @BUG without this icon is aligned to the top of control button */
	line-height: 28px;
}

#content-locations .address,
#content-locations .telegram,
#content-location .address,
#content-location .telegram {
	font-size: 1.5em;
}


#content-locations .websites h3,
#content-location .websites h3 {
	text-align: center;
}

#content-locations .websites table,
#content-location .websites table {
	height: 1px; /* @HACK expand cell content to whole cell https://stackoverflow.com/a/7600749 */
	margin: 1em auto;
}

#content-locations .websites table thead tr th,
#content-location .websites table thead tr th {
	text-align: center;
}

#content-locations .websites table tbody tr td.service-title,
#content-location .websites table tbody tr td.service-title {
	text-align: left;
}

#content-locations .websites table tbody tr td.service-title,
#content-locations .websites table tbody tr td.service-share-link,
#content-locations .websites table tbody tr td.service-drive-link,
#content-locations .websites table tbody tr td.service-share-text,
#content-location .websites table tbody tr td.service-title,
#content-location .websites table tbody tr td.service-share-link,
#content-location .websites table tbody tr td.service-drive-link,
#content-location .websites table tbody tr td.service-share-text {
	padding: 0 0.5em;
}

#content-locations .websites table tbody tr td.service-title span,
#content-locations .websites table tbody tr td.service-share-link a,
#content-locations .websites table tbody tr td.service-drive-link a,
#content-locations .websites table tbody tr td.service-share-text span,
#content-location .websites table tbody tr td.service-title span,
#content-location .websites table tbody tr td.service-share-link a,
#content-location .websites table tbody tr td.service-drive-link a,
#content-location .websites table tbody tr td.service-share-text span {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0.2em 0;
}

#content-chat-settings .example-message {
	margin: 0 auto;
	max-width: 30em;
}

#content-chat-settings table tr td:nth-child(1) {
	vertical-align: middle;
	text-align: right;
	max-width: 8em;
	font-weight: bold;
}

#content-chat-settings table tr td:nth-child(2) {
	vertical-align: middle;
	text-align: left;
}

.telegram-message .buttons {
	padding-left: 0.1em;
	padding-right: 0.1em;
}

.telegram-message .buttons .btn {
	width: 100%;
	display: block;
	position: relative;
}

.telegram-message .buttons a.btn:after {
	/* Icon @author: https://stackoverflow.com/a/52058198/3334403, https://codepen.io/thiagobraga/pen/bhDdn  */
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
	font-size: .7em;
	display: inline-block;
	right: 0.2em;
	top: 0.2em;
	position: absolute;
}
