a {
	text-decoration: none; /* Disable default underline */
}

/******************************************************/

.container-fluid {
	margin-top: 1em;
}

#main-left-menu {
	margin-right: 1em;
}

#main-left-menu .list-group .list-group-item {
	text-align: center;
	padding: 0;
}

#main-left-menu .list-group .list-group-item > a {
	display: block;
	padding: 0.75rem 1.25rem; /* used from .list-group-item to keep whole are clickable */
}

#main-left-menu .list-group .list-group-item small {
	display: block;
}

/******************************************************/
#content-location .header-left,
#content-location .header-right {
}

#content-location .header-left a,
#content-location .header-right .header-right-coords {
	font-size: 2em;
	color: black;
}

#content-location .header-left img {
	width: 1em;
	height: 1em;
}

#content-location #most-used-links a {
	text-decoration: none;
	padding: 1em;
	text-align: center;
}

#content-location #most-used-links a img {
	height: 5em;
	width: 5em;
	text-decoration: none;
}

#content-location #map-dynamic-leaflet {
	width: 100%;
	height: 100%;
	min-height: 20em;
	min-width: 20em;
}

#content-location #map-static img {
	width: 100%;
}


#content-location .websites h3 {
	text-align: center;
}

#content-location .websites table thead tr th {
	text-align: center;
}

#content-location .websites table tbody tr td.star {
	width: 1em;
}

#content-location .websites table tbody tr td a {
	display: block;
	width: 100%;
	padding: 0.2em;
	text-decoration: none;
}
